{
    "extends": [
        "airbnb-base/legacy",
        "plugin:react/recommended"
    ],
    "parserOptions": {
        "parser": "babel-eslint",
        "ecmaFeatures": {
            "jsx": true
        },
        "sourceType": "module"
    },
    "env": {
        "jquery": true,
        "browser": true,
        "es6": true
    },
    "rules": {
        "global-require": 0,
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "max-len": ["error", 140, { "ignorePattern": "gettext", "ignoreRegExpLiterals": true }],
        "no-param-reassign": ["error", { "props": false }],
        "no-plusplus": 0,
        "no-underscore-dangle": ["error", { "allowAfterThis": true, "allow": ["_index"]} ],
        "space-before-function-paren": ["error", "never"],
        "no-new": 0,
        "func-names": ["error", "never"],
        "no-console": ["warn", { "allow": ["info"] }],
        "no-unused-expressions": ["error", { "allowShortCircuit": true }],
        "class-methods-use-this": 0
    }
}
